h1{
  font-family: helvetica;
  font-size: 70;
  font-weight: bold;
  color: white;
  text-align: center;

}
.flatiron1{
  color:white;
  background-color: indigo;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
.flatiron1 p{
  font-size: 18
  color:white;
}
